<mat-toolbar color="primary">
    <h2>Component Container</h2>
</mat-toolbar>

<div class="all-cards">

    <mat-card class="mat-elevation-z8">
        <mat-card-title-group>
            <mat-card-title class="title-angular">Angular Element</mat-card-title>
            <mat-card-subtitle>
                <mat-slide-toggle [checked]="showAngular" (change)="showAngularChanged($event)">Show</mat-slide-toggle>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../assets/images/angular.png">
        </mat-card-title-group>
        
        <mat-card-content>
            <angular-benchmark *ngIf="showAngular" header="Store Locator" (buttonClickedEvent)="angularButtonClicked($event)">
            </angular-benchmark>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="mat-elevation-z8">
        <mat-card-title-group>
            <mat-card-title class="title-angular">Angular Lib</mat-card-title>
            <mat-card-subtitle>
                <mat-slide-toggle [checked]="showAngularLib" (change)="showAngularLibChanged($event)">Show</mat-slide-toggle>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../assets/images/angular.png">
        </mat-card-title-group>
        
        <mat-card-content>
            <ngx-store-locator *ngIf="showAngularLib" header="Store Locator" (buttonClickedEvent)="angularLibButtonClicked($event)"></ngx-store-locator>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
    </mat-card> -->


    <mat-card class="mat-elevation-z8">
        <mat-card-title-group>
            <mat-card-title class="title-react">React</mat-card-title>
            <mat-card-subtitle>
                <mat-slide-toggle [checked]="showReact" (change)="showReactChanged($event)">Show</mat-slide-toggle>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../assets/images/React-icon.png">
        </mat-card-title-group>
        
        <mat-card-content *ngIf="showReact">
            <!-- <div *ngIf="showReact"><app-not-implemented></app-not-implemented></div> -->
            <rn-webcomponent title="Store Locator" (search)="reactButtonClicked($event)"></rn-webcomponent>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
    </mat-card>


    <mat-card class="mat-elevation-z8">
        <mat-card-title-group>
            <mat-card-title>Stencil</mat-card-title>
            <mat-card-subtitle>
                <mat-slide-toggle [checked]="showStencil" (change)="showStencilChanged($event)">Show</mat-slide-toggle>
            </mat-card-subtitle>
            <img mat-card-sm-image src="../assets/images/stencil-icon.png">
        </mat-card-title-group>
        
        <mat-card-content *ngIf="showStencil">
            <!-- <div *ngIf="showStencil"><app-not-implemented></app-not-implemented></div> -->
            <s-locator name="Pharmacy Locator" (search)="stencilButtonClicked($event)"></s-locator>
        </mat-card-content>

        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

</div>
